.section {
    padding: 40px 0;
}

.btn-main {
    color: #fff;
    border-radius: 30px;
    font-size: 18px;
    padding: 15px 40px;
    display: inline-block;
    background-color: #FF914D;
    box-shadow: 0 15px 40px rgba(249,167,68,.5);
    background-image: linear-gradient(bottom,rgba(255,239,206,0) 0%,rgba(255,239,206,0.25) 100%);
}

.bg-orange {
    background: #FF914D;
}

p {
    font-size: 20px;
    line-height: 25px;
}